* {
    line-height: 1em;
}

@container style(--use_noto_sans_font: false) {
		* {
    		font-family: "Mojangles";
		}
		only_visible_on_fonts[Mojangles] {
        display: contents;
    }
}

@container style(--use_noto_sans_font: true) {
		* {
    		font-family: "NotoSansArabic-Regular";
		}
		only_visible_on_fonts[NotoSans] {
        display: contents;
    }
}

@font-face {
    font-family: "Mojangles";
    src: url("/assets/fonts/Mojangles.ttf");
    unicode-range: U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0141-0142,
        U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6-02C7,
        U+02D8-02DD, U+0394, U+03A9, U+03C0, U+2013-2014, U+2018-201A,
        U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074,
        U+20AC, U+2122, U+2202, U+220F, U+2211-2212, U+221A, U+221E, U+222B,
        U+2248, U+2260, U+2264-2265, U+25CA, U+FB01-FB02;
}

@font-face {
    font-family: "Minecraft-Five";
    src: url("/assets/fonts/Minecraft-Five-48bb3.otf");
    unicode-range: U+000D, U+0020-003F, U+0041-007E, U+00A0-00A6, U+00A8-00B1,
        U+00B4, U+00B6-00B8, U+00BB, U+00BF-0148, U+014A-017E, U+01FC-01FF,
        U+0218-021B, U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD, U+0384-0386,
        U+0388-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+0400-045F, U+0490-0491,
        U+1E02-1E03, U+1E0A-1E0B, U+1E1E-1E1F, U+1E22-1E23, U+1E30-1E31,
        U+1E40-1E41, U+1E56-1E57, U+1E60-1E61, U+1E6A-1E6B, U+1E80-1E85, U+1E9E,
        U+1EF2-1EF3, U+2013-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026,
        U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2126, U+2206, U+220F,
        U+2211-2212, U+221E, U+25CA, U+F6C3, U+F8FF, U+FB01-FB02;
}

@font-face {
    font-family: "Minecraft-Five-Bold";
    src: url("/assets/fonts/Minecraft-Five-Bold-4ded8.otf");
    unicode-range: U+000D, U+0020-007E, U+00A0-00A6, U+00A8-00A9, U+00AB-00B1,
        U+00B4, U+00B6-00B8, U+00BB, U+00BF-0148, U+014A-017E, U+01FC-01FF,
        U+0218-021B, U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD, U+0384-0386,
        U+0388-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+0400-045F, U+0490-0491,
        U+1E02-1E03, U+1E0A-1E0B, U+1E1E-1E1F, U+1E22-1E23, U+1E30-1E31,
        U+1E40-1E41, U+1E56-1E57, U+1E60-1E61, U+1E6A-1E6B, U+1E80-1E85, U+1E9E,
        U+1EF2-1EF3, U+2013-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026,
        U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2126, U+2206, U+220F,
        U+2211-2212, U+221E, U+25CA, U+F6C3, U+F8FF, U+FB01-FB02;
    font-weight: bold;
}

@font-face {
    font-family: "Minecraft-Seven";
    src: url("/assets/fonts/Minecraft-Seven-66398.otf");
    unicode-range: U+000D, U+0020-007E, U+00A0-00B1, U+00B4, U+00B6-00B8,
        U+00BA-00BB, U+00BF-0148, U+014A-017E, U+0192, U+01FC-01FF, U+0218-021B,
        U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD, U+0384-0386, U+0388-038A,
        U+038C, U+038E-03A1, U+03A3-03CE, U+0400-045F, U+0490-0491, U+1E02-1E03,
        U+1E0A-1E0B, U+1E1E-1E1F, U+1E22-1E23, U+1E30-1E31, U+1E40-1E41,
        U+1E56-1E57, U+1E60-1E61, U+1E6A-1E6B, U+1E80-1E85, U+1E9E, U+1EF2-1EF3,
        U+2013-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030,
        U+2039-203A, U+2044, U+20AC, U+2122, U+2126, U+2206, U+220F, U+2211-2212,
        U+221E, U+25CA, U+F6C3, U+F8FF, U+FB01-FB02;
}

@font-face {
    font-family: "Minecraft-Seven-v4";
    src: url("/assets/fonts/Minecraft-Seven-v4-c1725.ttf");
    unicode-range: U+0020-007E, U+00A0-00AC, U+00AE-017E, U+0192, U+01FC-01FF,
        U+0218-021B, U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD, U+0384-038A,
        U+038C, U+038E-03A1, U+03A3-03CE, U+0400-045F, U+0490-0491, U+1E02-1E03,
        U+1E0A-1E0B, U+1E1E-1E23, U+1E30-1E31, U+1E40-1E41, U+1E56-1E57,
        U+1E60-1E61, U+1E6A-1E6B, U+1E80-1E85, U+1E9E, U+1EF2-1EF3, U+2013-2015,
        U+2017-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2126,
        U+2206, U+220F, U+2211-2212, U+221E, U+25CA, U+3000, U+F6C3, U+F8FF,
        U+FB01-FB02;
}

@font-face {
    font-family: "Minecraft-Ten";
    src: url("/assets/fonts/Minecraft-Ten-ed29a.otf");
    unicode-range: U+000D, U+0020-007E, U+00A0-00A6, U+00A8-00A9, U+00AB-00B1,
        U+00B4, U+00B6-00B8, U+00BB, U+00BF-0148, U+014A-017E, U+0192,
        U+01FC-01FF, U+0218-021B, U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD,
        U+0384-0386, U+0388-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+0400-045F,
        U+0490-0491, U+1E02-1E03, U+1E0A-1E0B, U+1E1E-1E1F, U+1E22-1E23,
        U+1E30-1E31, U+1E40-1E41, U+1E56-1E57, U+1E60-1E61, U+1E6A-1E6B,
        U+1E80-1E85, U+1E9E, U+1EF2-1EF3, U+2013-2015, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2126,
        U+2206, U+220F, U+2211-2212, U+221E, U+25CA, U+F6C3, U+F8FF, U+FB01-FB02;
}

@font-face {
    font-family: "NotoSansArabic-Regular";
		font-size-adjust: 0.1%;
    src: url("/assets/fonts/NotoSansArabic-Regular-9137a.ttf");
    unicode-range: U+000D, U+0020-007E, U+00A0-00A6, U+00A8-00A9, U+00AB-00B1,
        U+00B4, U+00B6-00B8, U+00BB, U+00BF-0148, U+014A-017E, U+0192,
        U+01FC-01FF, U+0218-021B, U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD,
        U+0384-0386, U+0388-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+0400-045F,
        U+0490-0491, U+1E02-1E03, U+1E0A-1E0B, U+1E1E-1E1F, U+1E22-1E23,
        U+1E30-1E31, U+1E40-1E41, U+1E56-1E57, U+1E60-1E61, U+1E6A-1E6B,
        U+1E80-1E85, U+1E9E, U+1EF2-1EF3, U+2013-2015, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2126,
        U+2206, U+220F, U+2211-2212, U+221E, U+25CA, U+F6C3, U+F8FF, U+FB01-FB02;
}

.filter_invert {
    filter: invert(1);
} 

.filter_grayscale {
    filter: grayscale(1);
}

.filter_sepia {
    filter: sepia(1);
    /* filter: hue-rotate(0,5.) */
}

[hidden]:not(.no-override-display-when-hidden) {
	  display: none !important;
}

:root {
    --root-bg-color-light: hsl(0, 0%, 93%);
    --root-bg-color-dark: hsl(0, 0%, 7%);
    --root-bg-color-BlueTheme: hsl(197, 71%, 73%);
    --root-text-color-light: hsl(0, 0%, 0%);
    --root-text-color-dark: hsl(0, 0%, 100%);
    --root-text-color-BlueTheme: hsl(197, 71%, 27%);
    ---theme-var-switcher--root-text-color: var(--root-text-color-dark);
    --header-height: 102px;
}

:root.use_noto_sans_font {
	--use_noto_sans_font: true;
}

:root:not(.use_noto_sans_font) {
	--use_noto_sans_font: false;
}

.dark_theme {
    --dark_theme_display_contents: contents;
    --light_theme_display_contents: none;
    --blue_theme_display_contents: none;
    --display_none_on_dark_theme: none;
    --display_none_on_not_light_theme: none;
    --display_none_on_not_blue_theme: none;
    --display_contents_on_dark_theme: contents;
    --display_contents_on_not_light_theme: contents;
    --display_contents_on_not_blue_theme: contents;
}

.light_theme {
    --dark_theme_display_contents: none;
    --light_theme_display_contents: contents;
    --blue_theme_display_contents: none;
    --display_none_on_light_theme: none;
    --display_none_on_not_dark_theme: none;
    --display_none_on_not_blue_theme: none;
    --display_contents_on_light_theme: contents;
    --display_contents_on_not_dark_theme: contents;
    --display_contents_on_not_blue_theme: contents;
}

.blue_theme {
    --dark_theme_display_contents: none;
    --light_theme_display_contents: none;
    --blue_theme_display_contents: contents;
    --display_none_on_blue_theme: none;
    --display_none_on_not_dark_theme: none;
    --display_none_on_not_light_theme: none;
    --display_contents_on_blue_theme: contents;
    --display_contents_on_not_dark_theme: contents;
    --display_contents_on_not_light_theme: contents;
}

only_visible_dark_theme {
    display: var(--dark_theme_display_contents);
}

only_visible_light_theme {
    display: var(--light_theme_display_contents);
}

only_visible_blue_theme {
    display: var(--blue_theme_display_contents);
}

only_visible_on_themes {
    display: none;
}

only_visible_on_fonts {
    display: none;
}

/* only_visible_on_themes[blue][light]:not([dark]) {
    display: var(--display_none_on_dark_theme, "contents");
}

only_visible_on_themes[dark] {
    display: var(--display_contents_on_dark_theme, ignored);
}

only_visible_on_themes[light] {
    display: var(--display_contents_on_light_theme);
} */

@container style(--display_contents_on_dark_theme: contents) {
    only_visible_on_themes[dark] {
        display: contents;
    }
}

@container style(--display_contents_on_light_theme: contents) {
    only_visible_on_themes[light] {
        display: contents;
    }
}

@container style(--display_contents_on_blue_theme: contents) {
    only_visible_on_themes[blue] {
        display: contents;
    }
}

html {
    ---theme-var-switcher--html-bg-color: var(--root-bg-color-dark);
    background-color: var(---theme-var-switcher--html-bg-color);
    color: var(---theme-var-switcher--root-text-color)
}

body {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: var(--header-height);
    margin-left: 0;
    /* min-height: 100vh; */
    gap: 2em;
    width: -webkit-fill-available;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;/* 
    padding: 0.5em;
    padding-left: 1em; */
    height: auto;
}

.piximg {
    image-rendering: pixelated;
}

ul:not(:not(.vertical-nav)) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;

    & > li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    & > li a.active {
        background-color: #04aa6d;
        color: white;
    }

    & > li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
}

ul:not(:not(.horizontal-nav)) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    & > li {
        float: left;
				line-height: 20px;
				
    }

    & > li a {
        display: flex;
        color: white;

        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    & > li a:hover:not(.active) {
        background-color: #111;
    }

    & > li a:hover {
        & > .settings_button {
            background-image: url("/assets/images/ui/glyphs/settings_glyph_color_2x_hover.png");
        }
    }

    & > .active {
        background-color: #04aa6d;
    }
}

.overlay_page {
    z-index: 9999;
    width: 100%;
    height: -webkit-fill-available;
    position: fixed;
    border: 0px;
    margin: 0px;
    padding: 0px;
    padding-top: var(--header-height);
}

.settings_section {
    display: flow-root;
    height: 100%;
    overflow: scroll;
}

.no_margins {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.use_menu_background {
    background-image: url("/assets/images/ui/backgrounds/menubackground.png");
    image-rendering: pixelated;
}

.blur_behind_5px {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.settings_button {
    image-rendering: pixelated;
    background-image: url("/assets/images/ui/glyphs/settings_glyph_color_2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
    margin: -10px;
    padding: 0px;
    display: inline-block;
    vertical-align: 5%;
}

.settings_button:hover {
    background-image: url("/assets/images/ui/glyphs/settings_glyph_color_2x_hover.png");
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.disabled-dropdown-contents {
    box-shadow: 100px 100px 100px 100px #00000055 inset;
}

.mcdropdown {
    & > #dropdowncontents {
        border-image: url("/assets/images/ui/dropdown/dropdown_background.png") 2 2
            2 2 fill / 2px 2px 2px 2px;
        padding: 3px;
        padding-left: 2px;
        padding-right: 2px;
        image-rendering: pixelated;

        & > .mcdropdownoption:checked {
            background-image: url("/assets/images/ui/dropdown/dropDownSelectBG.png");
        }

        & > .mcdropdownoption:hover:not(.disabled-toggle-checkbox) {
            background-image: url("/assets/images/ui/dropdown/dropDownHoverBG.png");
        }

        & > div:not(.mcdropdownoption) {
            & > .mcdropdownoption:has(> input:checked):not(:hover) {
                background-image: url("/assets/images/ui/dropdown/dropDownSelectBG.png");

                & > .mcradiocheckbox:not(.disabled-toggle-checkbox) {
                    background-image: url("/assets/images/ui/radio/radio_on.png");
                }

                & > .mctogglecheckbox:not(.disabled-toggle-checkbox) {
                    background-image: url("/assets/images/ui/checkbox/checkbox_check.png");
                }

                & > .mcradiocheckbox .disabled-toggle-checkbox {
                    background-image: url("/assets/images/ui/radio/radio_on.png");
                    filter: brightness(0.5);
                }

                & > .mctogglecheckbox .disabled-toggle-checkbox {
                    background-image: url("/assets/images/ui/checkbox/checkbox_check_locked.png");
                }
            }
        }

        & > div:not(.mcdropdownoption) > .mcdropdownoption:hover {
            background-image: url("/assets/images/ui/dropdown/dropDownHoverBG.png");
        }

        &
            > div:not(.mcdropdownoption)
            > .mcdropdownoption:hover:has(> input:checked) {
            & > .mcradiocheckbox:not(.disabled-toggle-checkbox) {
                background-image: url("/assets/images/ui/radio/radio_on_hover.png");
            }

            & > .mctogglecheckbox:not(.disabled-toggle-checkbox) {
                background-image: url("/assets/images/ui/checkbox/checkbox_checkHover.png");
            }

            & > .mcradiocheckbox .disabled-toggle-checkbox {
                background-image: url("/assets/images/ui/radio/radio_on.png");
                filter: brightness(0.5);
            }

            & > .mctogglecheckbox .disabled-toggle-checkbox {
                background-image: url("/assets/images/ui/checkbox/checkbox_check_locked.png");
            }
        }

        &
            > div:not(.mcdropdownoption)
            > .mcdropdownoption:hover:not(:has(> input:checked)) {
            & > .mcradiocheckbox:not(.disabled-toggle-checkbox) {
                background-image: url("/assets/images/ui/radio/radio_off_hover.png");
            }

            & > .mctogglecheckbox:not(.disabled-toggle-checkbox) {
                background-image: url("/assets/images/ui/checkbox/checkbox_spaceHover.png");
            }

            & > .mcradiocheckbox .disabled-toggle-checkbox {
                background-image: url("/assets/images/ui/radio/radio_off.png");
                filter: brightness(0.5);
            }

            & > .mctogglecheckbox .disabled-toggle-checkbox {
                background-image: url("/assets/images/ui/checkbox/checkbox_space_locked.png");
            }
        }
    }

    & > #dropdownbutton {
        & > #cv,
        #cvsel {
            right: 7px; top: 10px; position: absolute
        }
    }
}

.mcdropdownoption {
    & > label {
        vertical-align:0.15em;
    }
}

.mctogglecontainer:has(> input:checked):not(:hover) {
    & > .mctoggleswitch:not(.disabled-toggle-checkbox) {
        background-image: url("/assets/images/ui/toggle/toggle_on.png");
    }

    & > .mctoggleswitch .disabled-toggle-checkbox {
        background-image: url("/assets/images/ui/toggle/toggle_on.png");
        filter: brightness(0.5);
    }
}

.mctogglecontainer:hover:has(> input:checked) {
    & > .mctoggleswitch:not(.disabled-toggle-checkbox) {
        background-image: url("/assets/images/ui/toggle/toggle_on_hover.png");
    }

    & > .mctoggleswitch .disabled-toggle-checkbox {
        background-image: url("/assets/images/ui/toggle/toggle_on.png");
        filter: brightness(0.5);
    }
}

.mctogglecontainer:hover:not(:has(> input:checked)) {
    & > .mctoggleswitch:not(.disabled-toggle-checkbox) {
        background-image: url("/assets/images/ui/toggle/toggle_off_hover.png");
    }

    & > .mctoggleswitch .disabled-toggle-checkbox {
        background-image: url("/assets/images/ui/toggle/toggle_off.png");
        filter: brightness(0.5);
    }
}

.mctogglecontainer:has(> input:not(:not(.disabled-toggle-checkbox))) {
    cursor: default;
    & > label {
        cursor: inherit
    }
}

.mctogglecontainer:has(> input:not(.disabled-toggle-checkbox)) {
    cursor: pointer;
    & > label {
        cursor: inherit
    }
}

.mcdropdownoption {
    color: white;
}

.mcdropdownoption,
.mctogglecontainer {
    position: relative;
}

.mcradio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.mcradiocheckbox {
    position: relative;
    /*
  top: 0;*/
    left: 0;
    height: 16px;
    width: 16px;
    margin-top: 2.25px;
    margin-bottom: 2.75px;
    margin-left: 2px;
    background-repeat: no-repeat;
    /*
  background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    border: 0px;
    display: inline-block;
    vertical-align: bottom;
}

.mcradiocheckbox:not(:disabled) {
    background-image: url("/assets/images/ui/radio/radio_off.png");
}

.mcradiocheckbox:disabled {
    background-image: url("/assets/images/ui/radio/radio_off.png");
    filter: brightness(0.5);
}

.mctoggle {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.mctoggleswitch {
    position: relative;
    /*
  top: 0;*/
    left: 0;
    height: 16px;
    width: 30px;
    margin-top: 2.25px;
    margin-bottom: 2.75px;
    margin-left: 2px;
    background-image: url("/assets/images/ui/toggle/toggle_off.png");
    background-repeat: no-repeat;
    /*
  background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    border: 0px;
    display: inline-block;
    vertical-align: middle;
}

.mctogglecheckbox {
    position: relative;
    /*
  top: 0;*/
    left: 0;
    height: 16px;
    width: 16px;
    margin-top: 2.25px;
    margin-bottom: 2.75px;
    margin-left: 2px;
    background-repeat: no-repeat;
    /*
  background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    border: 0px;
    display: inline-block;
    vertical-align: bottom;
}

.mctogglecheckbox:not(.disabled-toggle-checkbox) {
    background-image: url("/assets/images/ui/checkbox/checkbox_space.png");
}

.mctogglecheckbox .disabled-toggle-checkbox {
    background-image: url("/assets/images/ui/checkbox/checkbox_space_locked.png");
}

/*

.mcdropdownoption .mcradiocheckbox:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
};*/

.nsel {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.btn,
.radio_button_container_label {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --border-image-light: url("/assets/images/ui/buttons/button_borderless_light.png");
    --border-image-dark: url("/assets/images/ui/buttons/button_borderless_dark.png");
    --border-image-lighthover: url("/assets/images/ui/buttons/button_borderless_lighthover.png");
    --border-image-darkhover: url("/assets/images/ui/buttons/button_borderless_darkhover.png");
    --border-image-lightpressednohover: url("/assets/images/ui/buttons/button_borderless_lightpressednohover.png");
    --border-image-darkpressednohover: url("/assets/images/ui/buttons/button_borderless_darkpressednohover.png");
    --border-image-lightpressed: url("/assets/images/ui/buttons/button_borderless_lightpressed.png");
    --border-image-darkpressed: url("/assets/images/ui/buttons/button_borderless_darkpressed.png");
    --border-image-BlueTheme: url("/assets/images/ui/buttons/button_borderless_light_blue_default.png");
    --border-image-BlueThemehover: url("/assets/images/ui/buttons/button_borderless_light_blue_hover.png");
    --border-image-BlueThemepressednohover: url("/assets/images/ui/buttons/button_borderless_light_blue_pressed.png");
    --border-image-BlueThemepressed: url("/assets/images/ui/buttons/button_borderless_light_blue_hover_pressed.png");
    --border-image-disabled: url("/assets/images/ui/buttons/disabledButton.png");
    --btn-text-color-light: hsl(0, 0%, 0%);
    --btn-text-color-dark: hsl(0, 0%, 100%);
    --btn-text-color-BlueTheme: hsl(197, 71%, 27%);
    ---theme-var-switcher--border-image: var(--border-image-dark);
    ---theme-var-switcher--border-image-hover: var(--border-image-darkhover);
    ---theme-var-switcher--border-image-pressednohover: var(
        --border-image-darkpressednohover
    );
    ---theme-var-switcher--border-image-pressed: var(
        --border-image-darkpressed
    );
    ---theme-var-switcher--btn-text-color: var(--btn-text-color-dark);
    border-image: var(
            ---theme-var-switcher--border-image,
            var(--border-image-light)
        )
        1 1 1 1 fill / 1px 1px 1px 1px;
    padding: 5px;
    image-rendering: pixelated;
    color: var(---theme-var-switcher--btn-text-color);
}

.btn i,
.radio_button_container_label i {
    font-style: normal;
    font-weight: 500;
    opacity: 0.75;
}

.btn .octicon {
    vertical-align: text-top;
}

.btn .Counter {
    color: #586069;
    text-shadow: none;
    background-color: rgba(27, 31, 35, 0.1);
}

.btn:hover,
.radio_button_container_label:hover {
    text-decoration: none;
    background-repeat: repeat-x;
}

.btn:focus,
.radio_button_container_label:focus {
    outline: 0;
}

.btn:disabled,
.btn.disabled,
.btn[aria-disabled="true"],
.radio_button_container_label:hover:has(> input:disabled),
.radio_button_container_label:hover:has(> input.disabled),
.radio_button_container_label:hover:has(> input[aria-disabled="true"]) {
    cursor: default;
    background-position: 0 0;
    border-image: var(--border-image-disabled) 1 1 1 1 fill / 1px 1px 1px 1px;
}

.btn:active:enabled,
.btn.selected,
.btn[aria-selected="true"],
.radio_button_container_label:has(> input:checked) {
    background-image: none;
}

/* .btn { */
/*
  color: #ffffff;
  background-color: #87ceeb;*/
/*
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%)*/
/* } */

.btn:focus:enabled,
.btn.focus,
.radio_button_container_label:focus:enabled,
.radio_button_container_label.focus {
    /*
  box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3)*/
    border-image: var(
            ---theme-var-switcher--border-image-hover,
            var(--border-image-lighthover)
        )
        1 1 1 1 fill / 1px 1px 1px 1px;
}

.btn:hover:enabled,
.radio_button_container_label:hover {
    /*
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: -.5em;
  border-color: rgba(27, 31, 35, 0.35)*/
    border-image: var(
            ---theme-var-switcher--border-image-hover,
            var(--border-image-lighthover)
        )
        1 1 1 1 fill / 1px 1px 1px 1px;
}

.btn:hover:enabled:not(.noinvert):not(.buttonhascoloredimages),
.radio_button_container_label:hover:enabled:not(.noinvert):not(.buttonhascoloredimages) {
    & > :not(.preventinvert, #cv, #cvsel) {
        filter: invert(100%);
    }

    & > :not(:not(#cv, #cvsel)):not(.preventinvert) {
        filter: brightness(1000000%);
    }
}

.btn:active:enabled,
.btn.selected,
.btn[aria-selected="true"],
[open] > .btn,
.radio_button_container_label:has(> input:checked),
.radio_button_container_label:active:enabled,
.radio_button_container_label.selected {
    /*
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)*/

    border-image: var(
            ---theme-var-switcher--border-image-pressednohover,
            var(--border-image-lightpressednohover)
        )
        1 1 1 1 fill / 1px 1px 1px 1px;
}

.btn:active:hover:enabled,
.btn.selectedhover,
.btn[aria-selected="true"],
[open] > .btn,
.radio_button_container_label:hover:has(> input:checked),
.radio_button_container_label:active:hover:enabled,
.radio_button_container_label.selectedhover {
    /*
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)*/

    border-image: var(
            ---theme-var-switcher--border-image-pressed,
            var(--border-image-lightpressed)
        )
        1 1 1 1 fill / 1px 1px 1px 1px;
}

.btn:disabled,
.btn.disabled,
.btn[aria-disabled="true"],
.radio_button_container_label:hover:has(> input:disabled),
.radio_button_container_label:hover:has(> input.disabled),
.radio_button_container_label:hover:has(> input[aria-disabled="true"]) {
    /*
  color: rgba(36, 41, 46, 0.4);
  background-color: #eff3f6;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.2);
  box-shadow: none*/
    border-image: var(--border-image-disabled) 1 1 1 1 fill / 1px 1px 1px 1px;
}

.form-control,
.form-select {
  min-height: 34px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;  
  vertical-align: middle;/*
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;*//*
  border: 1px solid #d1d5da;*//*
  border-radius: 3px;
  outline: none;*//*
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);*/
  border-image: url('/assets/images/ui/textboxes/edit_box_indent.png') 2 1 2 1 fill / 4px 2px 4px 2px;
  padding: 4px 5px 4px 5px;
  image-rendering: pixelated;
}

.form-control::placeholder {
  color: white;
	opacity: 0.5;
}

.form-control:enabled:hover::placeholder {
  opacity: 1 !important;
}
/*
.form-control.focus,
.form-control:focus,
.form-select.focus,
.form-select:focus {
  border-color: #2188ff;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.2em rgba(3, 102, 214, 0.3)
}*/

.form-control:enabled:hover {
  border-image: url('/assets/images/ui/textboxes/edit_box_indent_hover.png') 2 1 2 1 fill / 4px 2px 4px 2px;
}

@media (min-width: 768px) {

  .form-control,
  .form-select {
    font-size: 14px
  }
}
